In [12]:
import pandas as pd
import json

# Load the JSON data into a DataFrame
with open('result.json') as f:
    json_data = json.load(f)

df = pd.DataFrame(json_data['data'],dtype=str)
df.head()

,siteId,seqNo,date,time,temp1,temp2,temp3,humidity1,humidity2,humidity3,light
0,0,0,2020-10-18,05:30:16,20.8,21.5,21.2,95.8,94,94,1.042
1,0,1,2020-10-18,05:30:33,?,21.5,21.1,?,94,94,1.042
2,0,2,2020-10-18,05:30:48,?,21.4,21.1,?,94,94,1.042
3,0,3,2020-10-18,05:31:03,?,21.4,21.1,?,94,94,1.042
4,0,4,2020-10-18,05:31:18,?,21.5,21.2,?,94,94,1.042

In [13]:
# check for missing values
print(df.isnull().sum())

siteId       0
seqNo        0
date         0
time         0
temp1        0
temp2        0
temp3        0
humidity1    0
humidity2    0
humidity3    0
light        0
dtype: int64

In [14]:
# drop rows with missing values
df.dropna(inplace=True)

In [15]:
# Drop duplicate rows
df=df.drop_duplicates(keep='first')

In [16]:
import numpy as np
# Replace '?' with NaN

df.replace(' ?', np.nan, inplace=True)
# Drop rows containing missing values
# Replace the missing values with NaN
df = df.fillna(np.nan)
# Drop rows containing missing values
# Replace the missing values with NaN

#df = df.replace(['?', 'NA', 'N/A', 'None'],0)

df.tail()

,siteId,seqNo,date,time,temp1,temp2,temp3,humidity1,humidity2,humidity3,light
5740,0,5755,2020-10-18,05:29:01,20.8,21.5,21.1,95.5,94,94,1.042
5741,0,5756,2020-10-18,05:29:18,NaN,21.5,21.1,NaN,94,94,1.042
5742,0,5757,2020-10-18,05:29:33,NaN,21.4,21,NaN,94,94,1.042
5743,0,5758,2020-10-18,05:29:48,NaN,21.5,21,NaN,94,94,1.042
5744,0,5759,2020-10-18,05:30:03,NaN,21.5,21.1,NaN,94,94,1.042

In [19]:
# Drop rows containing missing values
df = df.dropna()
df.head()
df.tail()

,siteId,seqNo,date,time,temp1,temp2,temp3,humidity1,humidity2,humidity3,light
5728,0,5743,2020-10-18,05:26:01,20.8,21.5,21.1,95.7,94,94,1.042
5735,0,5750,2020-10-18,05:27:46,20.8,21.4,21.1,95.8,94,94,1.042
5736,0,5751,2020-10-18,05:28:01,20.8,21.5,21.1,95.8,94,94,1.042
5738,0,5753,2020-10-18,05:28:38,20.8,21.4,21.1,95.5,94,94,1.042
5740,0,5755,2020-10-18,05:29:01,20.8,21.5,21.1,95.5,94,94,1.042

In [8]:
# Convert temperature columns to numeric
df['temp1'] = pd.to_numeric(df['temp1'], errors='coerce')
df['temp2'] = pd.to_numeric(df['temp2'], errors='coerce')
df['temp3'] = pd.to_numeric(df['temp3'], errors='coerce')

# Convert temperature columns to numeric
df['humidity1'] = pd.to_numeric(df['humidity1'], errors='coerce')
df['humidity2'] = pd.to_numeric(df['humidity2'], errors='coerce')
df['humidity3'] = pd.to_numeric(df['humidity3'], errors='coerce')

df['seqNo'] = pd.to_numeric(df['seqNo'], errors='coerce')

# Calculate the average temperature
df['average_temp'] = df[['temp1', 'temp2', 'temp3']].mean(axis=1)

# Calculate the average humidity
df['average_humidity'] = df[['humidity1', 'humidity2', 'humidity3']].mean(axis=1)

# Create a new DataFrame with only the desired columns
new_df = df[['seqNo','date','time','average_temp', 'average_humidity', 'light']]

# Print the selected columns
print(new_df)

      seqNo         date       time  average_temp  average_humidity   light
0         0   2020-10-18   05:30:16     21.166667         94.600000   1.042
6         6   2020-10-18   05:31:46     21.133333         94.366667   1.042
8         8   2020-10-18   05:32:16     21.100000         94.466667   1.042
9         9   2020-10-18   05:32:31     21.133333         94.433333   1.042
10       10   2020-10-18   05:32:46     21.100000         94.366667   1.042
...     ...          ...        ...           ...               ...     ...
5728   5743   2020-10-18   05:26:01     21.133333         94.566667   1.042
5735   5750   2020-10-18   05:27:46     21.100000         94.600000   1.042
5736   5751   2020-10-18   05:28:01     21.133333         94.600000   1.042
5738   5753   2020-10-18   05:28:38     21.100000         94.500000   1.042
5740   5755   2020-10-18   05:29:01     21.133333         94.500000   1.042

[3736 rows x 6 columns]

In [9]:
new_rows = []  # List to store the combined rows
x=0
count=0
average_temp = 0
average_humidity = 0
light = 0
n=6
rowcount=0
for index, row in df.iterrows():
    # Access the values of each column in the current row
    time1 = row['time']

    sliced_text = time1[4:6]  #sliced the time xx:yy:xx
  
    
    if(sliced_text=="00"): #if yy==00
        sliced_text1 = time1[1:6] # get front slice xx:xx:
        if(n>23):
            n=0
            print("karaN")
        
            
    
        if(n <= 9 and sliced_text1 == "0" + str(n) + ":00" ):
            
        
         # Access the values of the current row
            date = row['date']
            time = row['time']
            average_temp = row['average_temp']+average_temp
            average_humidity = row['average_humidity']+average_humidity
            x=row['seqNo']
            count=count+1


        elif( sliced_text1 == str(n) + ":00" ):
            
            
            
         # Access the values of the current row
            date = row['date']
            time = row['time']
            average_temp = row['average_temp']+average_temp
            average_humidity = row['average_humidity']+average_humidity
            x=row['seqNo']
            count=count+1
            
       
        
        



        


        
        else:
            if (count==0 ):

                count=1
       
            
            new_row = {
            'date': date,
            'time': time,
            'average_temp': average_temp/count ,
            'average_humidity': average_humidity/count ,
             }
            #print(new_row)
            new_rows.append(new_row)
            
            count=1
            n=n+1
            
    
            
            
            
            date = row['date']
            time = row['time']
            average_temp = row['average_temp']
            average_humidity = row['average_humidity']

new_row = {
            'date': date,
            'time': time,
            'average_temp': average_temp/count ,
            'average_humidity': average_humidity/count ,
             }
new_rows.append(new_row)
new_df1 = pd.DataFrame(new_rows)
print(new_df1)

karaN
           date       time  average_temp  average_humidity
0    2020-10-18   06:00:46     21.288889         94.622222
1    2020-10-18   07:00:00     22.500000         94.400000
2    2020-10-18   08:00:46     30.125000         69.733333
3    2020-10-18   09:00:31     29.416667         76.716667
4    2020-10-18   10:00:46     36.900000         46.283333
5    2020-10-18   11:00:45     39.800000         41.383333
6    2020-10-18   12:00:46     32.958333         54.591667
7    2020-10-18   13:00:46     38.775000         41.483333
8    2020-10-18   14:00:46     41.058333         37.033333
9    2020-10-18   15:00:46     35.483333         48.158333
10   2020-10-18   16:00:46     32.841667         58.366667
11   2020-10-18   17:00:46     30.150000         69.550000
12   2020-10-18   18:00:46     26.133333         91.116667
13   2020-10-18   19:00:46     24.633333         94.633333
14   2020-10-18   20:00:46     24.122222         95.288889
15   2020-10-18   21:00:01     23.433333         95.933333
16   2020-10-18   22:00:31     23.283333         95.566667
17   2020-10-18   23:00:31     23.000000         95.450000
18   2020-10-18   01:00:01     20.766667         95.366667
19   2020-10-18   02:00:01     20.633333         94.866667
20   2020-10-18   02:00:31     20.600000         94.433333
21   2020-10-18   03:00:46     20.500000         94.600000
22   2020-10-18   04:00:46     20.733333         94.466667
23   2020-10-18   05:00:46     20.950000         94.650000

from datetime import datetime

start_date = "2022-10-18"
start_datetime = datetime.strptime(start_date, "%Y-%m-%d")
start_unix_time = int(start_datetime.timestamp())

In [10]:
from datetime import datetime

start_date = "2022-10-18"
start_datetime = datetime.strptime(start_date, "%Y-%m-%d")
start_unix_time = int(start_datetime.timestamp())
print(start_unix_time)

1666031400

In [11]:
from datetime import datetime

end_date = "2022-10-19"
end_datetime = datetime.strptime(end_date, "%Y-%m-%d")
end_unix_time = int(end_datetime.timestamp())
print(end_unix_time)

1666117800