In [4]:
import requests
import pandas as pd

base_url = "http://agbc-fe.pdn.ac.lk/api/v1/data/?sensor=10008&date="

start_date = pd.to_datetime("2020-10-17")
end_date = pd.to_datetime("2020-10-30")

date_range = pd.date_range(start=start_date, end=end_date, freq="D")

all_data = []

for date in date_range:
    date_str = date.strftime("%Y-%m-%d")
    url = base_url + date_str
    response = requests.get(url)
    data = response.json()
    all_data.extend(data['data'])

df = pd.DataFrame(all_data, dtype=str)

In [5]:
# check for missing values
print(df.isnull().sum())

siteId       0
seqNo        0
date         0
time         0
temp1        0
temp2        0
temp3        0
humidity1    0
humidity2    0
humidity3    0
light        0
dtype: int64

In [6]:
# drop rows with missing values
df.dropna(inplace=True)

In [7]:
# Drop duplicate rows
df=df.drop_duplicates(keep='first')

In [8]:
import numpy as np
# Replace '?' with NaN

df.replace(' ?', np.nan, inplace=True)
# Drop rows containing missing values
# Replace the missing values with NaN
df = df.fillna(np.nan)
# Drop rows containing missing values
# Replace the missing values with NaN

#df = df.replace(['?', 'NA', 'N/A', 'None'],0)

In [9]:
# Drop rows containing missing values
df = df.dropna()

In [10]:
# Convert temperature columns to numeric
df['temp1'] = pd.to_numeric(df['temp1'], errors='coerce')
df['temp2'] = pd.to_numeric(df['temp2'], errors='coerce')
df['temp3'] = pd.to_numeric(df['temp3'], errors='coerce')

# Convert temperature columns to numeric
df['humidity1'] = pd.to_numeric(df['humidity1'], errors='coerce')
df['humidity2'] = pd.to_numeric(df['humidity2'], errors='coerce')
df['humidity3'] = pd.to_numeric(df['humidity3'], errors='coerce')

df['seqNo'] = pd.to_numeric(df['seqNo'], errors='coerce')

# Calculate the average temperature
df['average_temp'] = df[['temp1', 'temp2', 'temp3']].mean(axis=1)

# Calculate the average humidity
df['average_humidity'] = df[['humidity1', 'humidity2', 'humidity3']].mean(axis=1)

# Create a new DataFrame with only the desired columns
new_df = df[['seqNo','date','time','average_temp', 'average_humidity', 'light']]

# Print the selected columns

In [11]:
new_rows = []  # List to store the combined rows
x=0
count=0
average_temp = 0
average_humidity = 0
light = 0
n=6
rowcount=0
for index, row in df.iterrows():
    # Access the values of each column in the current row
    time1 = row['time']

    sliced_text = time1[4:6]  #sliced the time xx:yy:xx
  
    
    if(sliced_text=="00"): #if yy==00
        sliced_text1 = time1[1:6] # get front slice xx:xx:
        if(n>23):
            n=0
            
        
            
    
        if(n <= 9 and sliced_text1 == "0" + str(n) + ":00" ):
            
        
         # Access the values of the current row
            date = row['date']
            time = row['time']
            average_temp = row['average_temp']+average_temp
            average_humidity = row['average_humidity']+average_humidity
            x=row['seqNo']
            count=count+1


        elif( sliced_text1 == str(n) + ":00" ):
            
            
            
         # Access the values of the current row
            date = row['date']
            time = row['time']
            average_temp = row['average_temp']+average_temp
            average_humidity = row['average_humidity']+average_humidity
            x=row['seqNo']
            count=count+1
            
       
        
        



        


        
        else:
            if (count==0 ):

                count=1
       
            
            new_row = {
            'date': date,
            'time': time,
            'average_temp': average_temp/count ,
            'average_humidity': average_humidity/count ,
             }
            #print(new_row)
            new_rows.append(new_row)
            
            count=1
            n=n+1
            
    
            
            
            
            date = row['date']
            time = row['time']
            average_temp = row['average_temp']
            average_humidity = row['average_humidity']

new_row = {
            'date': date,
            'time': time,
            'average_temp': average_temp/count ,
            'average_humidity': average_humidity/count ,
             }
new_rows.append(new_row)
new_df1 = pd.DataFrame(new_rows)

from datetime import datetime

start_date = "2022-10-18"
start_datetime = datetime.strptime(start_date, "%Y-%m-%d")
start_unix_time = int(start_datetime.timestamp())

In [12]:
from datetime import datetime

start_date = "2022-10-18"
start_datetime = datetime.strptime(start_date, "%Y-%m-%d")
start_unix_time = int(start_datetime.timestamp())
print(start_unix_time)

1666031400

In [13]:
from datetime import datetime

end_date = "2022-10-19"
end_datetime = datetime.strptime(end_date, "%Y-%m-%d")
end_unix_time = int(end_datetime.timestamp())
print(end_unix_time)

1666117800

In [14]:
df

,siteId,seqNo,date,time,temp1,temp2,temp3,humidity1,humidity2,humidity3,light,average_temp,average_humidity
0,0,0,2020-10-17,05:30:16,18.7,19.2,18.8,96.3,93,93,1.25,18.900000,94.100000
1,0,1,2020-10-17,05:30:31,18.8,19.2,18.8,96.4,93,93,1.25,18.933333,94.133333
3,0,3,2020-10-17,05:31:01,18.7,19.2,18.9,96.8,93,93,1.25,18.933333,94.266667
4,0,4,2020-10-17,05:31:16,18.7,19.2,18.8,96.1,93,93,1.25,18.900000,94.033333
9,0,9,2020-10-17,05:32:31,18.7,19.2,18.8,95.8,93,93,1.25,18.900000,93.933333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41840,0,1666,2020-10-29,13:54:01,32.2,33.6,32.1,66.4,59,66,10159.2,32.633333,63.800000
41841,0,1667,2020-10-29,13:54:31,32.5,34.3,32.7,66.7,56,61,9714.17,33.166667,61.233333
41842,0,1668,2020-10-29,13:55:01,32.5,34.5,32.7,66.3,56,61,6820,33.233333,61.100000
41843,0,1669,2020-10-29,13:55:31,32.5,34.3,32.5,65.2,54,61,6175.83,33.100000,60.066667
41845,0,1671,2020-10-29,13:56:30,32.4,34.0,32.2,66.0,56,61,6124.58,32.866667,61.000000

In [16]:
df

,siteId,seqNo,date,time,temp1,temp2,temp3,humidity1,humidity2,humidity3,light,average_temp,average_humidity
0,0,0,2020-10-17,05:30:16,18.7,19.2,18.8,96.3,93,93,1.25,18.900000,94.100000
1,0,1,2020-10-17,05:30:31,18.8,19.2,18.8,96.4,93,93,1.25,18.933333,94.133333
3,0,3,2020-10-17,05:31:01,18.7,19.2,18.9,96.8,93,93,1.25,18.933333,94.266667
4,0,4,2020-10-17,05:31:16,18.7,19.2,18.8,96.1,93,93,1.25,18.900000,94.033333
9,0,9,2020-10-17,05:32:31,18.7,19.2,18.8,95.8,93,93,1.25,18.900000,93.933333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41840,0,1666,2020-10-29,13:54:01,32.2,33.6,32.1,66.4,59,66,10159.2,32.633333,63.800000
41841,0,1667,2020-10-29,13:54:31,32.5,34.3,32.7,66.7,56,61,9714.17,33.166667,61.233333
41842,0,1668,2020-10-29,13:55:01,32.5,34.5,32.7,66.3,56,61,6820,33.233333,61.100000
41843,0,1669,2020-10-29,13:55:31,32.5,34.3,32.5,65.2,54,61,6175.83,33.100000,60.066667
41845,0,1671,2020-10-29,13:56:30,32.4,34.0,32.2,66.0,56,61,6124.58,32.866667,61.000000